<header>
    <li><a href="/">Home</a></li>
    <%if(locals.user){%>
        <li><a href="/user/signout">Signout</a></li>
        <li><a href="/user/profile/<%=user.id %>"><%=user.name%></a></li>
        <img style="border-radius: 50%; float: right;" src="<%=user.avatar%>" alt="no-img" width="50" height="50">
    <%}else{%>
            <li><a href="/signin">Signin</a></li>
            <li><a href="/signup">Signup</a></li>
    <%}%>
</header>