<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>
<body>
    <%if(user.isValid){%>
        <h1>Reset your Password</h1>
    <form action="/user/new-password" method="post">
        <input type="password" placeholder="enter new password" name="password">
        <input type="password" placeholder="enter new password again" name="passwordAgain">
        <input type="hidden" name="user" value= "<%= user.user %>">
        <input type="hidden" name="token" value= "<%= user.token %>">
        <button type="submit">Submit</button>
    </form>
<%} else{%>
    <h1>Oops! Your token has been expired. Please try again</h1>
<%}%>
</body>
</html>