<form action="/user/signin" method="post">
    <input type="text" name="email" placeholder="enter username">
    <input type="password" name="password" placeholder="enter password">
    <button type="submit">submit</button>
</form>

<a href="/user/auth/google">sign in with google</a>