<form action="/user/signup" method="post">
    <input type="email" name="email" placeholder="enter email">
    <input type="text" name="name" placeholder="enter name">
    <input type="password" name="password" placeholder="enter password">
    <input type="password" name="confirm_password" placeholder="confirm password">
    <button type="submit">submit</button>
</form>