
    <h1>Hi! <%=data.user.name%> </h1>
    <h4>We have received a request to reset your login password</h4>
    <h3>Below is the link to reset your password. click on the link </h3>
    <br>
    <h2><a href="http://127.0.0.1:8000/user/reset-password/<%=data.token%>"> localhost:8000/user/reset-password/<%=data.token%> </a></h2>

    <h1>Thanks!</h1>
